* {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'SF UI Text', sans-serif;
}

.bttn {
  background-color: #DF4655;
  width: 21rem;
  height: 6rem;
  border: 35px solid #dd4756;
  color: white;
  border-radius: 3%;
}

button:hover {
  background-color: rgb(125, 78, 86);
}